<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="syncConfiguration" type="NetCity.Synchronize.Client.Config.SynchronizeClientConfiguration, NetCity.Synchronize.Client" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<syncConfiguration syncServer="http://91.201.237.58:8593/WS/SynchronizeServer.svc" clientDistrictId="3" clientDistrictName="МОУ ИТЛ 24">
	</syncConfiguration>
	<log4net configSource="log4net.config" />
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="http" maxReceivedMessageSize="999999999" sendTimeout="00:30:00" receiveTimeout="00:30:00">
					<security mode="None" />
					<readerQuotas maxArrayLength="65536000" maxStringContentLength="999999999" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="basicBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483646" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="basicBehavior" name="syncAgent">
				<endpoint address="http://80.237.49.3:8595/SynchronizeAgent" bindingConfiguration="http" binding="basicHttpBinding" contract="syncAgent">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://80.237.49.3:8595/SynchronizeAgent" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<system.transactions>
		<machineSettings maxTimeout="05:00:00" />
	</system.transactions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
