<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="syncConfiguration" type="NetCity.Synchronize.Client.Config.SynchronizeClientConfiguration, NetCity.Synchronize.Client"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<syncConfiguration syncServer="http://188.244.185.209:8593/WS/SynchronizeServer.svc" clientDistrictId="5" clientDistrictName="Ленск">
		<syncInterval timer="03:00:00" syncTriggerType="Schedule"/>
	</syncConfiguration>
	<appSettings>
		<add key="NSSqlConnection" value="Data Source=WIN-MAC7HIH4UKR\SQLEXPRESS;Initial Catalog=main4;Persist Security Info=True;User ID=netschool;Password=Admin123;Min Pool Size=5;"/>
		<add key="NSDAType" value="NSSqlConnection"/>
		<add key="NSDAArchType" value="NSSqlConnection"/>
	</appSettings>
	<log4net configSource="log4net.config"/>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="http" maxReceivedMessageSize="999999999" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<security mode="None"/>
					<readerQuotas maxArrayLength="65536000" maxStringContentLength="999999999"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="basicBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="basicBehavior" name="NetCity.Synchronize.Client.Implement.WCF.SynchronizeAgent">
				<endpoint address="http://94.245.158.159:8595/SynchronizeAgent" bindingConfiguration="http" binding="basicHttpBinding" contract="NetCity.Synchronize.Abstraction.Services.ISynchronizeAgent">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://94.245.158.159:8595/SynchronizeAgent"/>
					</baseAddresses>
				</host>
			</service>
			<service name="NetCity.Synchronize.Client.Implement.WCF.LocalPool" behaviorConfiguration="basicBehavior">
				<endpoint address="" bindingConfiguration="http" binding="basicHttpBinding" contract="NetCity.Common.Abstraction.ILocalPool">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://94.245.158.159:8595/SynchronizeAgent/LocalPool"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<client>
			<endpoint name="synchronizeServerEndpoint" binding="basicHttpBinding" bindingConfiguration="http" contract="NetCity.Synchronize.Abstraction.Services.ISynchronizeServer">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
