<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.Infrastracture.Extensions" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46722.200" newVersion="4.50.46722.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.Common" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46722.200" newVersion="4.50.46722.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.Infrastructure.Common" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46722.200" newVersion="4.50.46722.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.DataAccess.Common" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46703.195" newVersion="4.50.46703.195" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.Common.Filters" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46722.200" newVersion="4.50.46722.200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetCity.WebServices.WebApi.DTO" publicKeyToken="ea3eeeb5c070719f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.50.46703.195" newVersion="4.50.46703.195" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup><system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
