<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="NSSqlConnection" value="Data Source=NET_SCHOOL\SQLEXPRESS;Initial Catalog=main4;Persist Security Info=True;User ID=netschool;Password=--;Min Pool Size=5;" />
    <add key="NSDAType" value="NSSqlConnection" />
    <add key="NSDAArchType" value="NSSqlConnection" />
    <add key="NSWebGarden" value="true" />
    <add key="LAConnection" value="Server=localhost;database=C:\Program Files\NetCity2\DB\la4.gdb;ctype=win1251;auto_commit=true;auto_commit_level=0x1000;User ID=nschool;Password=--;" />
  <add key="MongoConnection" value="mongodb://localhost:27017/main4" />
  <add key="Services__IRTech.NetCity.Mail.Api__Url" value="http://localhost:5071" />
  </appSettings>
</configuration>
