<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">   
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="ClientService" xsi:type="File" fileName="${logDirectory}/ClientService.txt" layout="${date:format=dd/MM/yyyy hh-mm-ss} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ClientService" />
  </rules>
</nlog>