<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="NSXML" />
			<add name="NSXML" path="*.nsxml" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
		</handlers>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<httpErrors errorMode="Detailed" />
		<rewrite>
			<rules>
				<clear />
				<rule name="sso-callback" enabled="true" stopProcessing="true">
					<match url="^sso/([^/]*)/callback/([^?]+)\??(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="sso/callback/{R:2}.asp?idp={R:1}" appendQueryString="true" />
				</rule>
				<rule name="sso-crosslogin" enabled="true" stopProcessing="true">
					<match url="^sso/([^/]*)/crosslogin" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="sso/CrossLogin.asp?idp={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>