<?xml version="1.0"?>
<configuration>
	<system.web></system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SimpleHttpBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="4096" maxStringContentLength="2147483647"/>
					<security mode="None" />
				</binding>
				<binding name="SecureHttpBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="4096" maxStringContentLength="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="MtomHttpBinding" messageEncoding="Mtom" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="4096" maxStringContentLength="2147483647"/>
					<security mode="None" />
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="SecurityWsHttpBinding">
					<security mode ="Message">
						<message clientCredentialType="Certificate"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="SimpleEndpointBehavior"></behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="SimpleServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph ="2147483647" />
				</behavior>
				<behavior name="SecurityServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<!--Включаем запись ошибок в системный журнал-->
					<serviceSecurityAudit
						auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure"
						messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true" />
					<serviceCredentials>
						<serviceCertificate findValue="Test" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<clientCertificate>
							<authentication certificateValidationMode="PeerTrust" />
						</clientCertificate>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<!-- Security
			<service behaviorConfiguration="SecurityNetCityImportExportServiceBehavior" name="NetCity.WebServices.ImportExportService.Impl.NetCityImportExportService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="NetCity.WebServices.ImportExportService.INetCityImportExportService"
						binding="wsHttpBinding" bindingConfiguration="SecurityWsHttpBinding" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.PublicService.Impl.PublicService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="NetCity.WebServices.PublicService.Contracts.IPublicService"
						binding="wsHttpBinding" bindingConfiguration="SecurityWsHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			-->
			<!-- None Security-->
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.ImportExportService.Impl.NetCityImportExportService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="NetCity.WebServices.ImportExportService.INetCityImportExportService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.PublicService.Impl.PublicService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="PublicService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.FederalDataService.Impl.FederalDataService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="FederalDataService"
						binding="basicHttpBinding" bindingConfiguration="MtomHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.StatForms.StatFormService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="StatFormService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.Contingent.EventsAggregator.Impl.ContingentEventsAggregator">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="ContingentEventsAggregator"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.Contingent.DataEditing.Impl.DataEditingService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="IRTech.Contingent.Reference.DataEditing.IDataEditingWcfService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.Integration.EServices.EServicesWcfService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="EserviceWcfService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.Components.Movement.Enrollment.Sources.EServicesMovement">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="NetCity.Common.Movement.Services.IMovementSource"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SimpleServiceBehavior" name="NetCity.WebServices.StaffPortfolioService.Impl.StaffPortfolioService">
				<endpoint address="" behaviorConfiguration="SimpleEndpointBehavior" contract="StaffPortfolioService"
						binding="basicHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			
		</services>
	</system.serviceModel>
</configuration>