<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NSSqlConnection" value="Data Source=.;Initial Catalog=main4;Integrated Security=true" />
    <add key="NSDAType" value="NSSqlConnection" />
    <add key="NSDAArchType" value="NSSqlConnection" />
  </appSettings>
</configuration>
