<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">   
  <variable name="serviceLogDirectory" value="${basedir}/logs/Service/${shortdate}"/>
  <targets>
    <target 
      name="UpdateService" 
      xsi:type="File" 
      encoding="UTF-8"
      fileName="${serviceLogDirectory}/Service.txt" 
      archiveFileName="${serviceLogDirectory}/Service.{#}.txt"
      archiveAboveSize="1048576"
      archiveNumbering="Rolling"
      createDirs="true"      
      layout="${date:format=dd/MM/yyyy hh-mm-ss} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="UpdateService" />    
  </rules>
</nlog>