<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="lacc-rewrite-url" enabled="true">
                    <match url="lacc/([^/?]*)\??([^/]*)" />
                    <action type="Rewrite" url="lacc.asp?Function={R:1}" appendQueryString="true" />
                </rule>
            </rules>
            <outboundRules>
                <remove name="Remove RESPONSE_Server" />
                <remove name="PreCompression" />
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
