<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- url сервиса -->
		<add key="url" value="http://contingent.dev.edu.netrika.ru/webservice/ir_tech" />
		<!-- не менять -->
		<add key="curWcfCfg" value="pushIRTechBinding"/>
		<!-- параметры аутентификации -->
		<add key="login" value="Q8cMGc7c" />
		<add key="password" value="02r6wwT9K7XG" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="pushIRTechBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
								 openTimeout="00:05:00" closeTimeout="00:05:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://contingent.dev.edu.netrika.ru/webservice/ir_tech"
					binding="basicHttpBinding" bindingConfiguration="pushIRTechBinding"
					contract="IRTechWebService.pushIRTechPort" name="pushIRTechBinding" />
		</client>
	</system.serviceModel>
</configuration>