<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Url сервиса выгрузки -->
		<add key="serviceUrl" value="http://10.50.2.46:8800/PushStreamDataWcfService/gzip" />
		<!-- Логин внешней системы -->
		<add key="login" value="sgo" />
		<!-- Пароль внешней системы -->
		<add key="pwd" value="jkhCoGEXF6Wy" />
		<!-- Сериализовать данные в json в файле (true) или в памяти (false) -->
		<add key="writeInFile" value="true" />
		<!-- Каталог размещения временного файла сериализации -->
		<add key="tempFileLocation" value="C:\Program Files\NetCity2\Contingent.Agent\temp" />
		<!-- не менять -->
		<add key="curWcfCfg" value="StreamGzipBinding"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<!--maxReceivedMessageSize установлен в 10ГБ(10737418240) для потоковой передачи-->
				<!--GZip for Stream-->
				<binding name="StreamGzipBinding" openTimeout="00:05:00" closeTimeout="00:05:00" sendTimeout="00:50:00" receiveTimeout="00:50:00">
					<binaryMessageEncoding compressionFormat="GZip">
						<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</binaryMessageEncoding>
					<httpTransport transferMode="StreamedRequest" maxBufferSize="2147483647" maxReceivedMessageSize="10737418240" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://10.50.2.46:8800/PushStreamDataWcfService/gzip"
					binding="customBinding" bindingConfiguration="StreamGzipBinding"
					contract="ContingentService.IPushStreamDataWcfService" name="StreamGzipBinding" />
		</client>
	</system.serviceModel>
</configuration>