<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- время ожидания перед отправкой запроса получения результата обработки пакета (в сек.) -->
		<add key="waitPeriod" value="30"/>
		<!-- количество попыток получения результата обработки пакета -->
		<add key="repeatCount" value="5"/>
		<!-- url сервиса -->
		<add key="url" value="http://91.219.12.30:8080/ws/" />
		<!-- не менять -->
		<add key="curWcfCfg" value="ProvidersGDPortSoap11"/>
		<!-- параметры аутентификации Дневника -->
		<add key="source" value="NetSchool" />
		<add key="username" value="272e8acf-45fb-4702-816e-53555b542726" />
		<add key="password" value="LYev6OljuO4aY5b8W28okeZfBmXo5ZwV" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="ProvidersGDPortSoap11" closeTimeout="00:05:00"
				 openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
					<textMessageEncoding messageVersion="Soap11" />
					<security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport"
					 includeTimestamp="false" allowInsecureTransport="true" messageProtectionOrder="SignBeforeEncrypt"
					 messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
					<httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic"
					 maxBufferSize="2147483647" />
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>
