<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".map" />
			<mimeMap fileExtension=".map" mimeType="text/html" />
			<remove fileExtension=".wasm" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<remove fileExtension=".less" />
			<mimeMap fileExtension=".less" mimeType="text/css" />
			<remove fileExtension=".jnlp" />
			<mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
			<remove fileExtension=".coffee" />
			<mimeMap fileExtension=".coffee" mimeType="text/coffeescript" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<handlers>
			<add name="NSXML" path="*.nsxml" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
		</handlers>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<httpErrors errorMode="Detailed" />
		<!--<asp enableParentPaths="true">
			<limits scriptTimeout="00:00:30" />
		</asp>-->
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-Frame-Options" value="sameorigin" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<outboundRules>
				<rule name="Remove RESPONSE_Server">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="-" />
				</rule>
				<rule name="PreCompression" preCondition="StaticFileWithPreCompression" stopProcessing="true">
					<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
					<action type="Rewrite" value="gzip" />
				</rule>
				<preConditions>
					<preCondition name="StaticFileWithPreCompression">
						<add input="{PATH_INFO}" pattern="\.wasm$" />
					</preCondition>
				</preConditions>
			</outboundRules>
			<rules>
				<clear />
				<rule name="attach-doc" enabled="true" stopProcessing="true">
					<match url="^doc/([^?]+)(/?.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/scripts/ShowDoc.asp" appendQueryString="true" />
				</rule>
				<rule name="app-popup" enabled="true" stopProcessing="true">
					<match url="^app\/popup\/([^/?]+)([^?]*)\??" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/headersimple_angular_popup.asp?module={R:1}&amp;route={R:2}" appendQueryString="true" />
				</rule>
				<rule name="app-simple" enabled="true" stopProcessing="true">
					<match url="^app\/simple\/([^\/?]+)([^?]*)\??" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/headersimple_angular.asp?module={R:1}&amp;route={R:2}" appendQueryString="true" />
				</rule>
				<rule name="app" enabled="true" stopProcessing="true">
					<match url="^app\/([^/?]+)\/([^/?]+)([^?]*)\??" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/angular.asp?module={R:1}&amp;submodule={R:2}&amp;route={R:3}" appendQueryString="true" />
				</rule>
				<rule name="angular-asp" enabled="true" stopProcessing="true">
					<match url="^angular\/([^/?]+)\/([^/?]+)([^?]*)\??" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/angular.asp?module={R:1}&amp;submodule={R:2}&amp;route={R:3}" appendQueryString="true" />
				</rule>
				<rule name="sso-callback" enabled="true" stopProcessing="true">
					<match url="^asp/sso/([^/]*)/callback/([^?]+)\??(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/sso/callback/{R:2}.asp?idp={R:1}" appendQueryString="true" />
				</rule>
				<rule name="sso-crosslogin" enabled="true" stopProcessing="true">
					<match url="^asp/sso/([^/]*)/crosslogin" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/sso/CrossLogin.asp?idp={R:1}" appendQueryString="true" />
				</rule>
				<rule name="lacc-redirect" enabled="false" stopProcessing="true">
					<match url="lacc.asp|lacc/\w+" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="/api/{R:0}" />
				</rule>
				<!--<rule name="lacc-reverse-redirect" enabled="false" stopProcessing="true">
					<match url="lacc.asp" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://localhost/api/lacc.asp" />
				</rule>-->
				<rule name="redirect-prev-start-page" enabled="true" stopProcessing="true">
					<match url="about.asp" />
					<action type="Rewrite" url="about.html" />
				</rule>
				<rule name="rewrite-login" enabled="true" stopProcessing="true">
					<match url="^login$" />
					<action type="Rewrite" url="login.html" />
				</rule>
				<rule name="rewrite-oauth-login" enabled="true" stopProcessing="true">
					<match url="^authorize" />
					<action type="Rewrite" url="login.html" />
				</rule>
				<rule name="rewrite-oauth-logout" enabled="true" stopProcessing="true">
					<match url="^logout" />
					<action type="Rewrite" url="login.html" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="about.html" />
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="4096" />
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor/pages">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor/custom">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>