<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".map" />
			<mimeMap fileExtension=".map" mimeType="text/html" />
			<remove fileExtension=".less" />
			<mimeMap fileExtension=".less" mimeType="text/css" />
			<remove fileExtension=".jnlp" />
			<mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
			<remove fileExtension=".coffee" />
			<mimeMap fileExtension=".coffee" mimeType="text/coffeescript" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
		</staticContent>
		<handlers>
			<add name="NSXML" path="*.nsxml" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
		</handlers>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<httpErrors errorMode="Detailed" />
		<!--<asp appAllowClientDebug="true" appAllowDebugging="true" scriptErrorSentToBrowser="true">
			<limits scriptTimeout="00:00:30" />
		</asp>-->
		<rewrite>
			<rules>
				<clear />
				<rule name="attach-doc" enabled="true" stopProcessing="true">
					<match url="^doc/([^?]+)(/?.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/scripts/ShowDoc.asp{R:2}" appendQueryString="false" />
				</rule>
				<rule name="school-doc" enabled="true" stopProcessing="true">
					<match url="^schooldoc/([^?]+)(/?.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/SetupSchool/Resources/FileDoc.asp{R:2}" appendQueryString="false" />
				</rule>
				<rule name="portfolio-doc" enabled="true" stopProcessing="true">
					<match url="^portfolio/([^?]+)(/?.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/SetupSchool/Portfolio/FileDoc.asp{R:2}" appendQueryString="false" />
				</rule>
				<rule name="angular-asp" enabled="true" stopProcessing="true">
					<match url="^angular\/([^/?]+)\/([^/?]+)([^?]*)\??(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/angular.asp?module={R:1}&amp;submodule={R:2}&amp;another={R:3}&amp;{R:4}" appendQueryString="false" />
				</rule>
				<rule name="sso-callback" enabled="true" stopProcessing="true">
					<match url="^asp/sso/([^/]*)/callback/([^?]+)\??(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/sso/callback/{R:2}.asp?idp={R:1}" appendQueryString="true" />
				</rule>
				<rule name="sso-crosslogin" enabled="true" stopProcessing="true">
					<match url="^asp/sso/([^/]*)/crosslogin" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/asp/sso/CrossLogin.asp?idp={R:1}" appendQueryString="true" />
				</rule>
				<rule name="lacc-redirect" enabled="true" stopProcessing="true">
					<match url="lacc.asp|lacc/\w+" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="/api/{R:0}" />
				</rule>
				<!--<rule name="lacc-reverse-redirect" enabled="false" stopProcessing="true">
					<match url="lacc.asp" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://localhost/api/lacc.asp" />
				</rule>-->
				<rule name="redirect-prev-start-page" enabled="true" stopProcessing="true">
					<match url="about.asp" />
					<action type="Rewrite" url="about.html" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="about.html" />
			</files>
		</defaultDocument>
	</system.webServer>
	<location path="js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor/pages">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="vendor/custom">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="336:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>